@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display&family=Poppins:wght@200;300;400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0%;
  padding: 0%;
}

header {
  background: rgb(6, 39, 39);
  width: 100%;
  height: 25px;
}

footer {
  background: rgb(6, 39, 39);
  width: 100%;
  height: 25px;
}

main {
  background: rgb(248, 247, 246);
  height: 74.1vh;
  padding: 60px 270px;
}

button {
  border: none;
  background: transparent;
}

i {
  color: gray;
  margin: 15px 2px;
  font-size: 20px;
}

h2 {
  color: rgb(6, 39, 39);
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

li {
  display: none;
}

.toDoList-container {
  background: rgb(254, 255, 255);
  display: flex;
  flex-direction: column;
  min-width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray, -5px -5px 5px rgb(34, 100, 100);
}

.toDo-title,
.toDo-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid lightgrey;
}

.toDo-add form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.toDo-title i {
  margin: 25px 2px;
}

.toDo-add input::placeholder {
  color: gray;
  font-size: 20px;
  font-style: italic;
}

.toDo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toDo-list .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92.5%;
  padding: 8px 30.5px;
}

.span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa-ellipsis-vertical {
  display: none;
}

.fa-pen-to-square,
.fa-trash-can {
  color: gray;
  margin: 5px 2px;
  font-size: 18px;
}

.toDo-list input {
  font-size: 18px;
  color: rgb(12, 10, 10);
  text-transform: capitalize;
}

.clearBtn {
  background: rgba(155, 227, 236, 0.356);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 40px;
}

.clearBtn button {
  border: none;
  background-color: transparent;
}

.clearBtn button p {
  color: gray;
  font-size: 18px;
}

.done {
  background: rgb(214, 248, 245);
}

@media screen and (max-width: 768px) {
  main {
    background: rgb(248, 247, 246);
    height: 74.1vh;
    padding: 60px 27px;
  }
}
